.makename {
    background-color: #f5f6f9;
}

.makename-text{
    text-align: center;
    color: #3b3d4b;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 50px;
}

.blue {
    color: #297FFF;
    font-weight: bold;
}

p {
    display: inline;
    white-space: nowrap;
}

.input-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
  }
  
.input-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    width: 600px;
    height: 86px;
  }
  
.input-container button {
    /* 버튼 스타일*/
    padding: 8px 16px;
    background-color: #279dec;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 93px;
    transition: background-color 0.3s ease;
  }
  
.input-container button:hover {
    background-color: #297FFF; /* 마우스 호버 시 배경색 변경 */
  }
  
  .output-keyword {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
    margin-top: 45px;
  }
  
  .rounded-box {
    border-radius: 50px; 
    background-color: white; 
    padding: 15px 20px;
    border: 1px solid #297FFF;
  }
  
  .keyword {
    text-align: center;
    color: #297FFF;
  }
  
  button {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 400px;
    height: 98px;
    background-color: #279dec; 
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 20px;
    border: none; 
    border-radius: 56px; 
    cursor: pointer; 
  }
  
  button:hover {
    background-color: #297FFF; /* 호버 시 배경색 변경 */
  }
  