.main {
  background-image: url("../img/main_back.png");
  background-size: cover;
  background-position: top;
}

.main-logo {
  align-items: center;
}

.main-logo img {
  width: 100vw;
  margin-top: -130px;
}

.Header {
  position: relative;
  z-index: 100;
}

.main-title {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: #f5f6f9;
  padding: 60px 0;
}

.main-btn-title {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #f5f6f9;
  padding: 20px 0;

  margin-top: 15vh;
}

.main-btn-btn {
  display: flex;
  justify-content: center;

  margin-top: 35px;
}

.main-btn {
  width: 35vw;
  height: 10vh;
  background-color: #297fff;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6em;
  font-weight: bold;
  color: white;

  box-shadow: 0 0px 50px 0 rgba(255, 255, 255, 0.4);

  margin-bottom: 250px;
}

.main-page {
  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.main-page::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.teaming-names {
  overflow-x: hidden;
  width: 200vw;
  margin-left: -50vw;
}

.teaming-name {
  display: flex;
  justify-content: center;
}

.teaming-name p {
  color: white;
  font-size: 1.6em;
  font-weight: bold;

  padding: 30px 80px;
  border: solid 2px white;
  border-radius: 60px;
  background-color: rgb(255, 255, 255, 0.2);

  margin: 10px 20px;
}
