.make-name-done {
  background-color: #f5f6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.done-text {
  text-align: center;
  color: #3b3d4b;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 50px;
}

.make-logo {
  margin-top: 30px;
}

.make-logo img {
  display: block;
  max-width: 100%;
  height: 300px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px; /* 버튼들의 최대 너비 */
}

.buttons button {
  /* 버튼들의 스타일 지정*/
  padding: 10px 20px;
  background-color: #279dec;
  color: white;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-left: 20px;
}

.buttons button:hover {
  background-color: #297fff;
}
