.Header {
  padding: 0 15vw;
  background-color: white;
}

.Hd {
  width: 100%;
  height: calc(9vh + 20px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hd-logo img {
  height: 7vh;
}

.Hd-links {
  display: flex;
}

.Hd-links li {
  list-style: none;
  margin: 0 25px;
}

.Hd-links a {
  font-weight: bold;
  font-size: 1.1em;
  color: #297fff;
}
