.make-name-done {
  background-color: #f5f6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.done-text {
  text-align: center;
  color: #3b3d4b;
  /* font-size: 1.2em; */
  font-weight: bold;
  /* padding-top: 50px; */
  margin-top: 7vh;
}
.done-text-title {
  display: flex;
  flex-direction: column;
}

.done-text-title p {
  margin-top: 10px;
}

.make-logo {
  margin-top: 5vh;
}

.make-logo img {
  display: block;
  max-width: 100%;
  height: 300px;
}

.buttons-makedone {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px; /* 버튼들의 최대 너비 */
  margin-top: 10vh;
}

/* .makedone-btn,
.makedone-word-btn */

.buttons-makedone a {
  /* 버튼들의 스타일 지정*/
  padding: 20px;
  background-color: #297fff;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-left: 20px;
  width: 25vw;
}

.makedone-btn,
.makedone-word-btn {
  color: white;
  border: none;
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
  font-weight: bold;
  background-color: #297fff;
}

.makedone-btn {
  background-color: #c2c5d7;
}
