.random-pg {
  min-height: calc(100vh - 9vh - 20px);
  background-color: #f5f6f9;
}

.random-pg.hidden {
  display: none;
}

.random-name-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 7vh;
}

.random-name-content p {
  text-align: center;
  color: #3b3d4b;
  font-size: 1.2em;
  font-weight: bold;
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  flex-wrap: wrap;
  gap: 20px;
}

.category-box {
  padding: 8px 16px;
  background-color: #f5f6f9;
  color: #297fff;
  border: 1px solid #297fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Pretendard-Regular";
  width: 20vw;
  height: 7vh;
  font-size: 1.1em;
  /* font-weight: bold; */
}

.category-box.active {
  background-color: #297fff;
  color: white;
  box-shadow: 0 0 15px #297fff;
}

.random-recommend-btn {
  padding: 20px;
  background-color: #7fadf2;
  color: white;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Pretendard-Regular";
  width: 25vw;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 5vh;
}

.random-recommend-btn:hover {
  background-color: #297fff;
}
